.controls {
  /*
   * These CSS variables are supported out of the box to easily apply offsets to all popups.
   * You can also offset via props on `Tooltip.Content`, `Menu.Content`, and slider previews.
   */
  --media-tooltip-y-offset: 10px;
  --media-menu-y-offset: 10px;
}

.controls .volume-slider {
  --media-slider-preview-offset: 10px;
  margin-left: 1.5px;
}
